body{
    background-color: #5FA8D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}
.box{
    margin-top: 50px;
    display: flex;
    width: 520px;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background: #5FA8D3;
    box-shadow: inset 12px 12px 24px #264354,
                inset -12px -12px 24px #98ffff;
}
h1{
    font-size: 50px;
    position: relative;
    color: aliceblue;
    margin-left: 100px;
}
select,button,p{
    margin: 15px;
}

