body{
    background-color: #5FA8D3;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    margin-top: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background: #5FA8D3;
    box-shadow: inset 20px 20px 60px #518fb3,
                inset -20px -20px 60px #6dc1f3;
}
h1{
    color: aliceblue;
}
select,button,p{
    margin: 15px;
}
