@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    font-family: 'Jost', sans-serif;
}

body{
    background-color: #5FA8D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}
.box{
    margin-top: 50px;
    display: flex;
    width: 520px;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    background: #5FA8D3;
    box-shadow: inset 12px 12px 24px #264354,
                inset -12px -12px 24px #98ffff;
}

::selection {
    color: #B23A48;
    background: rgba(19, 19, 19, 0)
}
p::selection{
    color: #FED0BB;
}


h1{
    font-size: 50px;
    position: relative;
    color: #ff8d57;
    margin-left: 95px;
    letter-spacing: 3px;
    font-family: 'Anton', sans-serif;
}
h2{
    margin: 3px;
}
select,button,p{
    margin: 15px;
}
p{
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
    .box{
        width: 90%;
    }

}
